@media only screen and (max-width: 1180px) {
  .showcase .container {
    padding: 10% 14%;
  }

  .showcase .container h1 {
    font-size: 4rem;
  }

  /* contact-btn*/
  .contact a {
    display: block;
    margin-top: 10px;
  }

  /* image-showcase*/
  .blog-area .container {
    padding: 10% 14%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'card-1 card-2'
      'card-3 card-4'
      'card-5 card-6';
  }
  .cards h4,
  p,
  a {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .showcase .container {
    padding: 8% 10%;
  }

  .showcase .container h1 {
    font-size: 5rem;
  }

  .container .btn a {
    display: block;
    margin-top: 10px;
  }

  .container .btn .bottom-end {
    margin-top: 10px;
  }
  /* contact-btn*/

  .contact .container {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .contact .container .text {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .contact .btn-contact a {
    display: block;
    margin-top: 10px;
  }
  /* image-showcase*/
  .blog-area .container {
    padding: 8% 10%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas:
      'card-1 '
      'card-2 '
      'card-3 '
      'card-4 '
      'card-5 '
      'card-6 ';
  }
}
